LIVE_USERNAME=
LIVE_PASSWORD=

TICKETSHOP_USERNAME=
TICKETSHOP_PASSWORD=

FOOTBALLTICKETNET_USERNAME=
FOOTBALLTICKETNET_PASSWORD=

FANPASS_USERNAME=
FANPASS_PASSWORD=

TIXSTOCK_USERNAME=
TIXSTOCK_PASSWORD=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

DATABASE_URL=

ADMIN_PASSWORD=
JWT_SECRET=
